/*设计图px转换rpx*/
rpx(num)
  num * 1rpx


$critical = #E60012
$warning = #448ACA
$minor = #F39800
$major = #E9D310
$normal = #0CC808


.critical-color {
  color $critical
}

.warning-color {
  color $warning
}

.minor-color {
  color $minor
}

.major-color {
  color $major
}

.normal-color {
  color $normal
}

.pad-l-r-30 {
  padding 0 rpx(30)
}

.mar-l-r-30 {
  margin 0 rpx(30)
}

// 标题
.header {
  margin rpx(24) 0 rpx(24) rpx(30)
  font-size rpx(28)
  font-weight: 400;
  color: #999999;
  line-height: rpx(36);
}

// 主标题 黑色背景
.header-bg {
  padding rpx(27) rpx(18) rpx(32)
  font-size: rpx(28);
  color #F5F6F9
  font-weight: 400;
  background #000
  border-radius:rpx(10);

}

// 进度条列表
.progress-list {
  margin rpx(18) rpx(30) rpx(33)
  padding rpx(30)
  background-color #ffffff
  border: 1px solid rgba(233, 233, 233, 1);
  border-radius: rpx(15);
}

// 底部占位符
.station {
  height rpx(80)
}

.station-min{
  height rpx(30)
}

.link {
  text-decoration underline
}

// 表格列表
.table-wrap {
  margin rpx(38) rpx(30)

  .my-table-cell {
    margin-top rpx(6)
    padding rpx(18) 0
    overflow hidden

    &.critical {
      background-color $critical
    }

    &.warning {
      background-color $warning
    }

    &.minor {
      background-color $minor
    }

    &.major {
      background-color $major
    }

    &.normal {
      background-color $normal
    }

    &.history {
      background-color #ffffff

      .my-cell-item {
        color #474544
      }
    }

    .my-cell-item {
      float left
      font-size: rpx(24);
      font-weight: 400;
      color #FFFFFF
      text-align left

      .left {
        margin-left rpx(20)

        .link {
          text-decoration underline
        }
      }
    }
  }

}


