
/*设计图px转换rpx*/
rpx(num)
  num  * 1rpx


//$error=#E60012
//$error=#448ACA
//$error=#F39800
//$error=#E9D310
//$error=#0CC808

.header{
  margin rpx(24) 0 rpx(24) rpx(30)
  font-size rpx(28)
  font-weight:400;
  color:#999999;
  line-height:rpx(36);
}




